.row {
 
    display: flex;
    border: 2px solid #86835f;
    margin-bottom: 2em;
    flex-wrap: wrap;
}
.item {
    padding: 2em;
    background: #86835f;
    color: #ece69c;
    border: 2px solid black;
}

.item-A {
   
}
.item-B {
   
}
.item-C {

}
.item h2 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
    margin-bottom: 1em;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}