body {
    overflow-x: hidden;
}
* {
    padding:0;
    margin: 0;
    }
    .img-fluid {
        width: 100%;
    }
    .row {
    display: flex;
      flex-wrap: wrap;
    }
    .container {
        padding-left: .3rem;
        padding-right: .3rem;
    }
    .container-fluid {
        width: 100%;
    }
    .col-1 {
    width: 8.333333%;
    }
    .col-2 {
    width:16.6666667%;
    }
    .col-3 {
    width: 25%;
    }
    .col-4 {
      width: 33.33333333%;
    }
    .col-6 {
    width: 50%;
     }
    .col-5 {
    width: 41.6666667%;
    }
    .col-7 {
    width: 58.333333%;
    }
    .col-8 {
      width: 66.6666667%;
    }
    .col-9 {
    width: 75%;
    }
    .col-10 {
      width: 83.333333%;
    }
    .col-11 {
    width: 91.666667%;
    }
    .col-12 {
      width: 100%;
    }
    @media (min-width: 567px) and (max-width: 767.98px) {
        .container-sm, .container {
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .col-sm-1 {
            width: 8.333333%;
        }
        .col-sm-2 {
            width:16.6666667%;
        }
        .col-sm-3 {
            width: 25%;
        }
        .col-sm-4 {
            width: 33.33333333%;
        }
        .col-sm-5 {
            width: 41.6666667%;
        }
        .col-sm-6 {
            width: 50%;
        }
        .col-sm-7 {
            width: 58.333333%;
        }
        .col-sm-8 {
            width: 66.6666667%;
        }
        .col-sm-9 {
            width: 75%;
        }
        .col-sm-10 {
            width: 83.333333%;
        }
        .col-sm-11 {
            width: 91.666667%;
        }
        .col-sm-12 {
            width: 100%;
        }
    }





    @media (min-width: 768px) and (max-width: 991.98px) {
        .container-md, .container {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        .col-md-1 {
            width: 8.333333%;
        }
        .col-md-2 {
            width:16.6666667%;
        }
        .col-md-3 {
            width: 25%;
        }
        .col-md-4 {
            width: 33.33333333%;
        }
        .col-md-5 {
            width: 41.6666667%;
        }
        .col-md-6 {
            width: 50%;
        }
        .col-md-7 {
            width: 58.333333%;
        }
        .col-md-8 {
            width: 66.6666667%;
        }
        .col-md-9 {
            width: 75%;
        }
        .col-md-10 {
            width: 83.333333%;
        }
        .col-md-11 {
            width: 91.666667%;
        }
        .col-md-12 {
            width: 100%;
        }
    }







    @media (min-width: 992px) and (max-width: 1199.98px) {
        .container-lg, .container {
            padding-right: 3rem;
            padding-left: 3rem;
        }
        .col-lg-1 {
            width: 8.333333%;
        }
        .col-lg-2 {
            width:16.6666667%;
        }
        .col-lg-3 {
            width: 25%;
        }
        .col-lg-4 {
            width: 33.33333333%;
        }
        .col-lg-5 {
            width: 41.6666667%;
        }
        .col-lg-6 {
            width: 50%;
        }
        .col-lg-7 {
            width: 58.333333%;
        }
        .col-lg-8 {
            width: 66.6666667%;
        }
        .col-lg-9 {
            width: 75%;
        }
        .col-lg-10 {
            width: 83.333333%;
        }
        .col-lg-11 {
            width: 91.666667%;
        }
        .col-lg-12 {
            width: 100%;
        }
    }




    @media (min-width: 1200px) and (max-width: 1399.98px) {
        .container-xl, .container {
            padding-right: 4rem;
            padding-left: 4rem;
        }
        .col-xl-1 {
            width: 8.333333%;
        }
        .col-xl-2 {
            width:16.6666667%;
        }
        .col-xl-3 {
            width: 25%;
        }
        .col-xl-4 {
            width: 33.33333333%;
        }
        .col-xl-5 {
            width: 41.6666667%;
        }
        .col-xl-6 {
            width: 50%;
        }
        .col-xl-7 {
            width: 58.333333%;
        }
        .col-xl-8 {
            width: 66.6666667%;
        }
        .col-xl-9 {
            width: 75%;
        }
        .col-xl-10 {
            width: 83.333333%;
        }
        .col-xl-11 {
            width: 91.666667%;
        }
        .col-xl-12 {
            width: 100%;
        }
    }








    @media (min-width: 1400px)  {
        .container-xxl, .container {
            padding-right: 5rem;
            padding-left: 5rem;
        }
        .col-xl-1 {
            width: 8.333333%;
        }
        .col-xl-2 {
            width:16.6666667%;
        }
        .col-xl-3 {
            width: 25%;
        }
        .col-xl-4 {
            width: 33.33333333%;
        }
        .col-xl-5 {
            width: 41.6666667%;
        }
        .col-xl-6 {
            width: 50%;
        }
        .col-xl-7 {
            width: 58.333333%;
        }
        .col-xl-8 {
            width: 66.6666667%;
        }
        .col-xl-9 {
            width: 75%;
        }
        .col-xl-10 {
            width: 83.333333%;
        }
        .col-xl-11 {
            width: 91.666667%;
        }
        .col-xl-12 {
            width: 100%;
        }
    }
    .flexbox-start {
        align-items: flex-start;
    }
  
    .flexbox-end {
        align-items: flex-end;
        
    }
  
    .flexbox-stretch {
        align-items: stretch;
    }
    .flexbox-center {
        align-items: center;
    }
    .flexbox-baseline {
        align-items: baseline;
    }
    .justify-content-center {
        justify-content: center;
    }
    .justify-content-end {
        justify-content: flex-end;
    }
    .justify-content-between {
        justify-content: space-between;
    }
    .justify-content-around {
        justify-content: space-around;
    }
    
    .justify-content-evenly {
        justify-content: space-evenly;
    }
    



















h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
}
.display-2 {
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 300;
}
.display-3 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
}
.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
}
.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
}
.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 300;
}
h2 {
    font-size: calc(1.325rem + 0.9vw);
}
h3 {
    font-size: calc(1.3rem + 0.6vw);
}
h4 {
    font-size: calc(1.275rem + 0.3vw);
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.fs-1 {
    font-size: calc(1.375rem + 1.5vw);
}
.fs-2 {
    font-size: calc(1.325rem + 0.9vw);
}
.fs-3 {
    font-size: calc(1.3rem + 0.6vw);
}
.fs-4 {
    font-size: calc(1.275rem + 0.3vw);
}
.fs-4 {
    font-size: calc(1.275rem + 0.3vw);
}
.fs-5 {
    font-size: 1.25rem;
}
.fs-6 {
    font-size: 1rem;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
    .display-1 {
        font-size: 5rem;
    }
    .display-2 {
        font-size: 4.5rem;
    }
    .display-3 {
        font-size: 4rem;
    }
    .display-4 {
        font-size: 3.5rem;
    }
    .display-5 {
        font-size: 3rem;
    }
    .display-6 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem; 
    }
    h4 {
        font-size: 1.5rem;
    }
}
.bg-white {
    background-color: #f8f9fa;
}

.purple {
    color: #012970;
}

.purple-light {
    color: #4154f1;
}
.gray {
    color: #444;
}
#home {
    padding-top: 150px;
    padding-bottom: 125px;
    background-image: url(hero-bg.png);

    background-size: cover;
    background-position: center center;

}
@media  (min-width: 991.98px ) {
    #home {
        background-attachment: fixed;
    }
}
#home .display-4 {
font-weight: 550;
}
#home .display-6 {
   margin-top: 40px;
   margin-bottom: 60px;
    }
    .btn-purple {

        color: white;
        background-color: #4154f1;
        box-shadow: 0px 5px 20px #4154f1;
padding-left: 40px;
padding-right: 40px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 4px;
text-decoration: none;
font-size: 1rem;

    }
  #home .btn-purple  span, #about .btn-purple  span {
        transition: all .2s;
      }
      .btn-purple:hover span {
    margin-left: 25px;
    transition: all .2s;
    
      }
    
     #about .row {
         padding: 30px;
     }
     #about .row .fs-3 {
         margin-bottom: 40px;
     }
     #about {
         margin-top: 75px;
     }
     .img_hover_scale {
         transition: all .15s;
     }
     .img_hover_scale:hover {
        transition: all .15s;
        transform: scale(1.1);
    }
    @media screen and (max-width: 767.98px) {
        #home .row {
text-align: center;
        }
        #home img {
            margin-top: 75px;
        }
    }
    @media screen and (max-width: 575.98px) {
      #about .row img {
          margin-top: 70px;
      }
      #about .row {
        text-align: center;
    }
    .btn-purple {
        color: white;
        background-color: #4154f1;
        box-shadow: 0px 5px 20px #4154f1;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 4px;
text-decoration: none;
font-size: 1rem;

    }
  }
  .text_center {
      text-align: center;
  }
  .margin_top_section {
      margin-top: 75px;
  }
  #img_values {
      transform: scale(0.8);
      transition: all .1s;
  }
  #img_values:hover {
  
}
.fs-italic {
    font-style:italic;
}
#box_shadow {
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.163);
    padding: 20px;
}
#values .container .row #box_shadow:hover img {
    transform: scale(0.7);
    transition: all .1s;
}
@media screen and (max-width: 767.98px) {
#values .container .row .col-xxl-3 {
margin-bottom: 30px;
}
}
.m_icon {
    margin-bottom: 15px;
}
@media screen and (max-width: 991.98px) {
#icons .col-xxl-2 {
    margin-bottom: 20px;
}
}
.list-style-none {
    list-style: none;
}
.box_shadow_li {
   

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#lists .box_shadow_li .col-xxl-2 {
   
}
.bg-purple-light {

   padding-left: 5px;
   padding-right: 5px;
   margin-right: 3px;
}


.purple-icon {
    color: black;
}

.purple-icon:hover {
    color: #012970;
}
#list {
    margin-bottom: 30px;
}
.far {
    font-size: 70px;
}
#cards i {
    margin-bottom: 15px;
}
#cards .col-xxl-3 {
   padding: 40px;
   box-shadow: 1px 2px 4px  3px rgba(0, 0, 0, 0.19);
   margin-bottom: 30px;
   border-radius: 5px;
}
.link {
    font-size: 20px;
    text-decoration: none;
}
#cards #skyblue i {
color: #2bd6fa;
background-color: #dbf3fe;
padding: 12.5px;
box-shadow: 1px 2px 4px  3px rgba(0, 0, 0, 0.19);
transition: all .1s;
}
#cards #skyblue  {
   border-bottom: 3px solid #2bd6fa;
   transition: all .1s;
    }
#cards #skyblue .link {
    color: #2bd6fa;
    transition: all .1s;
   
    }
    #cards #skyblue:hover  {
        background-color: #2bd6fa;
        color: white;
        transition: all .1s;
      
        }
        #cards #skyblue:hover .link {
            color: white;
            transition: all .1s;
          
            }




            #cards #orange i {
                color: #f68c09;
                background-color: #fde3c4;
                padding: 12.5px;
                box-shadow: 1px 2px 4px  3px rgba(0, 0, 0, 0.19);
                transition: all .1s;
                }
                #cards #orange  {
                   border-bottom: 3px solid #f68c09;
                   transition: all .1s;
                    }
                #cards #orange .link {
                    color: #f68c09;
                    transition: all .1s;
                    }
                    #cards #orange:hover  {
                        background-color: #f68c09;
                        color: white;
                        transition: all .1s;
                        }
                        #cards #orange:hover .link {
                            color: white;
                            transition: all .1s;
                            }











                            #cards #green i {
                                color: #08da4e;
                                background-color: #cffddf;
                                padding: 12.5px;
                                box-shadow: 1px 2px 4px  3px rgba(0, 0, 0, 0.19);
                                transition: all .1s;
                                }
                                #cards #green  {
                                   border-bottom: 3px solid #08da4e;
                                   transition: all .1s;
                                    }
                                #cards #green .link {
                                    color: #08da4e;
                                    transition: all .1s;
                                    }
                                    #cards #green:hover  {
                                        background-color: #08da4e;
                                        color: white;
                                        transition: all .1s;
                                        }
                                        #cards #green:hover .link {
                                            color: white;
                                            transition: all .1s;
                                            }












                                            #cards #red i {
                                                color: #e9222c;
                                                background-color: #fef7f8;
                                                padding: 12.5px;
                                                box-shadow: 1px 2px 4px  3px rgba(0, 0, 0, 0.19);
                                                transition: all .1s;
                                                }
                                                #cards #red  {
                                                   border-bottom: 3px solid #e9222c;
                                                   transition: all .1s;
                                                    }
                                                #cards #red .link {
                                                    color: #e9222c;
                                                    transition: all .1s;
                                                    }
                                                    #cards #red:hover  {
                                                        background-color: #e9222c;
                                                        color: white;
                                                        transition: all .1s;
                                                        }
                                                        #cards #red:hover .link {
                                                            color: white;
                                                            transition: all .1s;
                                                            }


















                                                            #cards #purple i {
                                                                color: #b50edf;
                                                                background-color: #f8e4fd;
                                                                padding: 12.5px;
                                                                box-shadow: 1px 2px 4px  3px rgba(0, 0, 0, 0.19);
                                                                transition: all .1s;
                                                                }
                                                                #cards #purple  {
                                                                   border-bottom: 3px solid #b50edf;
                                                                   transition: all .1s;
                                                                    }
                                                                #cards #purple .link {
                                                                    color: #b50edf;
                                                                    transition: all .1s;
                                                                    }
                                                                    #cards #purple:hover  {
                                                                        background-color: #b50edf;
                                                                        color: white;
                                                                        transition: all .1s;
                                                                        }
                                                                        #cards #purple:hover .link {
                                                                            color: white;
                                                                            transition: all .1s;
                                                                            }















                                                                            #cards #pink i {
                                                                                color: #f51f9c;
                                                                                background-color: #feecf7;
                                                                                padding: 12.5px;
                                                                                box-shadow: 1px 2px 4px  3px rgba(0, 0, 0, 0.19);
                                                                                transition: all .1s;
                                                                                }
                                                                                #cards #pink  {
                                                                                   border-bottom: 3px solid #f51f9c;
                                                                                   transition: all .1s;
                                                                                    }
                                                                                #cards #pink .link {
                                                                                    color: #f51f9c;
                                                                                    transition: all .1s;
                                                                                    }
                                                                                    #cards #pink:hover  {
                                                                                        background-color: #f51f9c;
                                                                                        color: white;
                                                                                        transition: all .1s;
                                                                                        }
                                                                                        #cards #pink:hover .link {
                                                                                            color: white;
                                                                                            transition: all .1s;
                                                                                            }

.margin_bottom_section {
    margin-bottom: 75px;
}

#cards_1 .row .col-xxl-2 {
    padding: 20px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.151);
    margin-bottom: 45px;
}
#cards_1 .row li {
    margin-top: 10px;
}
.btn-purple-light {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #012970;
    text-decoration: none;
    border: 3px solid  #012970;
    border-radius: 20px;
    transition: all .1s;
}
.btn-purple-light:hover {
    background-color:#012970 ;
    color: white;
    transition: all .15s;
}
#cards_1 .row li:nth-child(5) {
   margin-bottom: 30px;
}
#cards_1 .row li:nth-child(6) {
    margin-bottom: 30px;
 }
 #features5 .row {
    position: relative;
}
#features5 .row .col-xxl-3 {
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.151);
    margin-bottom: 40px;
}
 .pic a {
     display: block;
     overflow: hidden;
 }
 .pic img {
     transition: 300ms;
 }
 
 #features5 .row .col-xxl-3:hover .pic img {
     transform: scale(1.3) rotate(15deg);
 }
 footer {
     background-image: url(footer-bg.png);
     background-size: cover;
     background-position: center center;
     margin-top: 50px;
     padding-bottom: 50px;
 }
 footer li {
     margin-top: 7px;
 }

 .nav ul {

    margin-left: auto;
     list-style: none;
     border: 0;
     padding: 0;

 }
 .none {
     display: none;
 }

 
 .toggle {
     border: 3px solid rgba(0, 0, 0, 0.341);
     border-radius: 5px;
     font-size: 25px;
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 5px;
     padding-bottom: 5px;
     position: absolute;
     background: none;
   right: 20px;
   top: 3px;
 }
 
 @media screen and (max-width: 991.98px) {
     .nav ul {
         background-color: white;
     position: absolute;
     width: 100%;
     margin-top: 30px;
      left: 0;
       margin-left: 0px;
         list-style: none;
         border: 0;
         padding: 0;
    
     }
 } 
 @media  (min-width: 992px) {
     
     .nav ul {
         display: block;
       
       
     }
     .nav_top li {
         display: inline;
         margin-left: 1em;
     }
     .toggle {
         display: none;
     }
 }
 .nav_top {
     padding: 1em;
 }
 .black {
     color: black;
 }
 .nav_top a {
    
     text-decoration: none;
 }
 .nav_top {
    transition: 500ms all ease-in-out;
 }
 .nav_top li {
     margin: 1em;
 }
.active {
    display: block;
}
.choice {
    display: none;
  z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.474);
}
.two_choices {
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 3px 4px 8px 3px black;
}
.line {
    background-color: black;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 5px;
}
.light {
margin-bottom: 20px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid black;
    background: none;
    border-radius: 5px;
}

.dark {
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
   
color: white;
border: 3px solid black;
    background: black;
    border-radius: 5px;
}